nav {
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    height: 60px;
    align-items: center;
}

input {
    width: 250px;
    border:none;
    height: 40px;
    margin-left: 20px;
}

button {
    height: 35px;
}

.search {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.img {
    margin-right: 40px;
}